*.pyo
*.pyc
*~
*.swp
*.DS_Store
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
src/utils/temp/*
src/utils/cython_utils/build/
src/utils/cython_utils/*.so
src/utils/cython_utils/*.c
notebooks/.ipynb_checkpoints/
notebooks/2019_03_18_compile_results_paper_all_types.ipynb
/bin/
virtualenv/
experiment_runner/
src/experiment_runner/
src/compile_results/
data/univariate/colruyt_*
results/
.vscode/
.idea/*
